@model Hotel_Alumnos.Models.Excursion

@{
    ViewBag.Title = "Home Page";
}

<!-- Masthead-->
<!--<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">-->
        <!-- Masthead Avatar Image-->
                
    <!--</div>
</header>-->
<div>
    <img src="~/Content/Images/principal.jpg" style="width: 100%; border-radius: 5px"/>
</div>
<!-- Tipos de Habitaciones-->

<section class="page-section portfolio" id="sectionTipoHabitacion">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tipos de Habitación</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">
            @for (int i = 0; i < ((SelectList)ViewBag.tipos).Count(); i++)
            {

                <div class="col-md-4">
                    <div id="@("tipoHabitacion-" + (string)ViewBag.tipos.Items[i].Value)" class="portfolio-item mx-auto tipoHab" data-bs-toggle="modal" data-bs-target="#">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>

                        @{
                            string imgUrl = "~/Content/Images/" + ((string)ViewBag.tipos.Items[i].Text.ToLower()).Replace(" ", string.Empty) + ".jpg";
                        }

                        <img class="img-fluid" src="@Url.Content(imgUrl)" alt="..." />
                    </div>
                </div>

            }
        </div>
    </div>
</section>


<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Excursiones</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div id="img-excursion" class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#excursionModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/Images/Alta-Montaña.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Free Download!
            </a>
        </div>
    </div>
</section>
<!-- Contact Section-->
<!--<section class="page-section" id="contact">
    <div class="container">-->
        <!-- Contact Section Heading-->
        <!--<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>-->
        <!-- Icon Divider-->
        <!--<div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>-->
        <!-- Contact Section Form-->
        <!--<div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <!--<form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
                    <!-- Name input-->
                    <!--<div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>-->
                    <!-- Email address input-->
                    <!--<div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>-->
                    <!-- Phone number input-->
                    <!--<div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>-->
                    <!-- Message input-->
                    <!--<div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>-->
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <!--<div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>-->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!--<div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
                    <!-- Submit Button-->
                    <!--<button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>-->

<!-- Modal Tipo de Habitacion-->
<div class="modal fade" id="tipoHabitacionModal" tabindex="-1" role="dialog" aria-labelledby="tipoHabitacionModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tipoHabitacionModalLabel"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-floating mb-3">

                           <br />
                           
                            <h2 id="lblTdHabitacion"></h2>

                            <span id="textDescripcion"></span>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">

                           <img id="modalImg">

                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Excursion Alta Montaña-->
<!-- Modal -->
<div class="modal fade" id="excursionModal" tabindex="-1" role="dialog" aria-labelledby="excursionModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("GuardarExcursion", "Home", FormMethod.Post, new { @id = "form-excursion" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="excursionModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.Nombre, new { @class = "form-control", style = "font-weight: bold" }) <br /><br />
                                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.Apellido, new { @class = "form-control", style = "font-weight: bold" }) <br /><br />
                                @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.NombreExcursion, new { @class = "form-control", style = "font-weight: bold" }) <br /><br /><br />
                                @Html.DropDownListFor(x => x.NombreExcursion, (SelectList)ViewBag.ListaDeExcursiones, "Seleccione una opcion", new { @class = "ddl", style = "width: 100%;" })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.FechaInicio, new { @class = "form-control", style = "font-weight: bold;" }) <br /><br />
                                @Html.TextBoxFor(x => x.FechaInicio, new { @class = "form-control datepicker", @Value = "" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.Precio, new { @class = "form-control", style = "font-weight: bold" }) <br /><br />
                                @Html.TextBoxFor(x => x.Precio, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                @Html.LabelFor(x => x.EstaPagado, new { @class = "form-control", style = "font-weight: bold; margin-right: 40px;" })<br /><br /><br />
                                @Html.CheckBoxFor(x => x.EstaPagado, new { @class = "" })

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnGuardarExcursion" type="button" class="btn btn-primary">Save changes</button>

                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/Scripts/Home/Index.js")



<script>
    var urlGuardarExcursion = "@Url.Action("GuardarExcursion","Home")";
    var urlGetTipoHabitacion = "@Url.Action("GetTipoHabitacion", "Home")";
</script>




@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
